/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #fff;
}

.tabs {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.tablink {
  background-color: #2d2d2d;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  font-size: large;
}

.tablink:hover {
  background-color: #3d3d3d;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.depositsaque {
  text-align: center;
  align-items: center;
}

/* Estilos específicos para a tabela */
table {
  border-collapse: collapse;
  width: 100%;
  color: #fff;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #2d2d2d;
}

tr:nth-child(even) {
  background-color: #3d3d3d;
}

tr:hover {
  background-color: #4d4d4d;
}

/* Estilos específicos para a guia Área Técnica */
#technical {
  background-color: #1e1e1e;
}

#balance {
  margin-bottom: 20px;
}

#balance h4 {
  color: #ff3d00;
}

button {
  background-color: #ff3d00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff5a36;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  /* Largura da caixa */
  height: 100%;
  /* Altura total da tela */
  background-color: #3d3d3d;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  /* Adiciona barra de rolagem vertical caso o conteúdo seja maior que a altura da caixa */
  transition: transform 0.8s ease;
  /* Adiciona uma transição suave ao alterar a posição do sidebar */
}

#hideSidebarButton {
  position: absolute;
  top: 5px;
  right: 0px;
  height: 39px;
  /* Ajuste a posição do botão para ocultar */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#totalPNL {
  background-color: #4CAF50;
  font-size: large;
  color: white;
  padding: 14px;
  border-radius: 0px;
  text-align: center;
  min-width: 150px;
  display: flex;             /* Torna o elemento um contêiner flexível */
  justify-content: center;   /* Centraliza o conteúdo horizontalmente */
  align-items: center;       /* Centraliza o conteúdo verticalmente */
}


.stripe {
  width: 100%;
  height: 5px;
  background-color: #000;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#showSidebarButton {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9999;
  /* Garante que o botão seja exibido sobre outros elementos */
}

/* Estilos para o popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  background-color: #2d2d2d;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  color: #000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
}

.tab-container {
  display: flex;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
  font-size: small;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #2d2d2d;
  border-bottom: none;
  background-color: #3d3d3d;
  margin-right: 5px;
}

.tab.active {
  background-color: #2d2d2d;
  border-top: 4px solid #ff3d00;
}

input[type="radio"] {
  display: none;
}